/* Body Styling */
body {
    background: #F5F5F0;
    color: black;
    font-family: Monaco, monospace;
    margin: 0;
    padding: 0;
}

/* Movie List Title Styling */
h1 {
    padding: 10px 0;
    background: #009B50;
    color: white;
    text-align: center;
    font-size: 16pt;
}

/* Movie Grid Container */
.movie-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    margin-top: 20px;
}

/* Individual Movie Styling */
.movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 160px;
    text-align: center;
}

/* Movie Poster Styling */
.movie-poster img {
    width: 128px;
    height: 193px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* Movie Details Styling */
.movie-details {
    text-align: center;
}

.movie-title {
    font-size: 16px;
    font-weight: bold;
    margin-top: 8px;
}

.movie-year {
    font-size: 1.0em;
    color: #999;
}

.movie-rating {
    font-size: 14px;
    font-weight: bold;
}