<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="static/style.css">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>

<body>
    <h1>{{ title }}</h1>
    <div class="movie-grid">
        {% for movie in movie_grid %}
            <div class="movie">
                <div class="movie-poster">
                    {% if movie['poster_url'] %}
                        <a href="https://www.imdb.com/title/{{ movie['imdbID'] }}" target="_blank">
                            <img src="{{ movie['poster_url'] }}" alt="{{ movie['title'] }}">
                        </a>
                    {% else %}
                        <p>No image available</p>
                    {% endif %}
                </div>
                <div class="movie-details">
                    <p class="movie-title">{{ movie['title'] }}</p>
                    <p class="movie-year">{{ movie['year'] }}</p>
                    <p class="movie-rating">{{ movie['rating'] }} / 10</p>
                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>
